# This rc file is meant to work seamlessly with direnv (https://direnv.net/)
#
# You can source this file manually with USE_DOCKER=true set in your environment
# to shadow the apalache-mc executable with an invocation of a dockerized
# version of the script.
#
# E.g., example of manual usage:
#
#     [username@comp test]$ which apalache-mc
#     /home/username/Sync/informal-systems/apalache/apalache-core/bin/apalache-mc
#     [username@comp test]$ USE_DOCKER=true source .envrc
#     WARNING: Shadowing ../bin/apalache-mc with dockerized executable
#     [username@comp test]$ which apalache-mc
#     /home/username/Sync/informal-systems/apalache/apalache-core/test/docker-bin/apalache-mc

# Inherit the environment of the root .envrc if it's not already sourced
source ../.envrc

# The directory of this file
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

if [[ "$USE_DOCKER" == "true" ]]
then
    echo "WARNING: Shadowing ../bin/apalache-mc with dockerized executable"
    export PATH=$DIR/docker-bin:$PATH
fi
