# Any secrets or local environment variables that you'd like to set in your
# environment can be placed in the .local-envrc file.
#
# Some useful variables include
#
# - RELEASEME_TOKEN: a github token used in ./script/release
[[ -f "./.local-envrc" ]] && source "./.local-envrc"

# This function is to protect local variables from polluting downstream scripts
# that source this one.
exports () {
    # The directory of this file
    local DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

    # Provide reference to the target directory
    export TARGET_DIR=$DIR/target

    # Add executables to path
    export PATH=$DIR/bin:$PATH
}

exports

# By setting PS1='', we avoid sourcing the bashrc file (Who? Who knows?)
# and this helps keep the development environment unpolluted by exports
# and state coming from the rc file.
# See https://github.com/NixOS/nix/issues/903
PS1='' nix develop -i --keep PS1
