# Any secrets or local environment variables that you'd like to set in your
# environment can be placed in the .local-envrc file.
#
# Some useful variables include
#
# - RELEASEME_TOKEN: a github token used in ./script/release
[[ -f "./.local-envrc" ]] && source "./.local-envrc"

# The directory of this file
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
