# Any secrets or local environment variables that you'd like to set in your
# environment can be placed in the .local-envrc file.
#
# Some useful variables include
#
# - RELEASEME_TOKEN: a github token used in ./script/release
# - APALACHE_FATAL_WARNINGS: Set to "true" to fail builds on compiler warnings
[[ -f "./.local-envrc" ]] && source "./.local-envrc"

# This function is to protect local variables from polluting downstream scripts
# that source this one.
exports () {
    # The directory of this file
    local DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

    # Provide reference to the target directory
    export TARGET_DIR=$DIR/target

    # Add executables to path
    export PATH=$DIR/bin:$PATH

    # Base path for looking up the Apalache standard library, see
    # https://github.com/informalsystems/apalache/pull/1553
    export APALACHE_HOME=$DIR
}

exports
