*.iml
.idea
out
target
.directory

log*.smt
test/tla/testSpec\.smt2
test/tla/counterexample*

tla-assignments/src/test/resources/assignmentTest1.smt2
tla-bmcmt/counterexample*
tla-bmcmt/profile-rules.txt

*.err
*.out
*.log

# Local envars for direnv
/.local-envrc

# Ignore directories where test artifacts are stored
x/

# Ignore backup files created by `mvn versions`
*.versionsBackup

# Ignore artifacts created when previewing the gh-pages site
/Gemfile.lock
/_site/

# Ignore MacOS files
.DS_Store

# Ignore generated commit hooks from nix shell
.pre-commit-config.yaml
