---
---

@import "{{ site.theme }}";

// Custom styles go here

/* 
 * Show a smaller Twitter widget on narrow screens.
 *
 * We use two widgets, #twitter-widget-0 (unbounded height for wide screens),
 * and #twitter-widget-1 (bounded height for narrow screens).
 *
 * This CSS hack is necessary because the widget location is marked in HTML
 * using an <a> element. An iframe of correct bounding height is injected at
 * its location via Twitter's JS. The iframe height is pre-set via
 * `data-height` attribute on the corresponding <a>.
 *
 * Custom resizing of the widget iframe via CSS is not an option, because
 *   - Twitter's injected JS resets the iframe height on resize events, and
 *   - contained HTML is rendered wrt/ to iframe height to keep user controls
 *     within the viewport.
 *
 * We use !important to override the element-level `display` property set by
 * Twitter's JS.
 */

// Default: hide the short twitter widget and its injection <a>.
#twitter-timeline-1,
#twitter-widget-1 {
  display: none !important;
}

// On narrow screens: Show short twitter widget, hide tall one.
@media print, screen and (max-width: 960px) {
  #twitter-timeline-1 {
    display: inline !important;
  }
  #twitter-widget-1 {
    display: inline-block !important;
  }
  #twitter-timeline-0,
  #twitter-widget-0 {
    display: none !important;
  }
}
