<configuration>
    <!-- always a good activate OnConsoleStatusListener -->
    <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>-->
    <!-- suppress default messages by logback itself -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- a detailed log goes here -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>detailed.log</file>
        <!-- produce debug on the output -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{12} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- a brief log -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- produce only info as the console output -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%-67msg %.-1level@%d{HHmmss.SSS}%n</pattern>
        </encoder>
    </appender>

    <logger name="at.forsyte.apalache" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <root level="WARN">
        <!-- we are interested only in the warnings and errors from the other packages -->
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>