name: prepare-release

on:
  workflow_dispatch:
    # Allows manually triggering release via
    # https://github.com/apalache-mc/apalache/actions?query=workflow%3A%22Prepare+Release%22
    inputs:
      release_version:
        description: "Version (leave empty to increment patch version)"
        required: false
        default: ""

jobs:
  prepare-release:
    if: github.repository_owner == 'apalache-mc'
    env:
      RELEASE_VERSION: ${{ github.event.inputs.release_version }}
      # NOTE: We must not use the default GITHUB_TOKEN for auth here,
      # or else CI won't run on the resulting PR.
      # See https://github.com/peter-evans/create-pull-request/blob/master/docs/concepts-guidelines.md#workarounds-to-trigger-further-workflow-runs
      GITHUB_TOKEN: ${{ secrets.APALACHE_BOT_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.APALACHE_BOT_TOKEN }}
          push-to-fork: coffeeinprogress/apalache
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: Configure Git
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "github@actions.ci"
      - name: Prepare release
        run: |
          sudo apt-get update && sudo apt-get install -y hub
          ./script/release-prepare.sh
