name: Prepare Release

on:
  push:
    branches:
      - shon/releases-via-ci
  pull_request:
    branches:
      - shon/releases-via-ci
  # FIXME
  # workflow_dispatch:
  #   inputs:
  #     release_version:
  #       description: "Version to release"
  #       required: false
  #       default: ""
  # schedule:
  #   # * is a special character in YAML so you have to quote this string
  #   # Automatically prepares a minor version release every Monday
  #   - cron: "* * * * 1"

jobs:
  prepare-release:
    env:
      RELEASE_VERSION: 0.0.0-testing-release-ci
      # RELEASE_VERSION: ${{ github.event.inputs.release_version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "github@actions.ci"
          ./script/release-prepare.sh
