name: release

on:
  pull_request:
    branches: [unstable]
    types: [closed]

jobs:
  cut-release:
    # Trigger only on merge of [release] pull request
    if: startsWith(github.event.pull_request.title, '[release]') && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # See https://github.com/actions/checkout/issues/124#issuecomment-606277160
          ref: ${{ github.event.pull_request.head.ref }}
          # We only need the two commits of the release prep branch
          fetch-depth: 2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cut Release
        env:
          # NOTE: We must not use the default GITHUB_TOKEN for auth here,
          # or else CI won't run to publish the docker image from the resulting PR.
          # See https://github.com/peter-evans/create-pull-request/blob/master/docs/concepts-guidelines.md#workarounds-to-trigger-further-workflow-runs
          GITHUB_TOKEN: ${{ secrets.APALACHE_BOT_TOKEN }}
          HEAD_REF: ${{ github.head_ref }}
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "github@actions.ci"
          git checkout HEAD~1
          ./script/release-publish.sh
